[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
svgnest = {editable = true, path = "."}
argparse = "==1.4.0"
svg-path = "*"
pyclipper = "*"
matplotlib = "*"
simplejson = "*"

[dev-packages]
pytest = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
